
@{
    ViewBag.Title = "ConfirmarEmail";
}

@if (ViewBag.Respuesta == "true")
{
    <p>Tu cuenta ha quedado activada, ya puedes loguearte y usar TrackingFULL!</p>
}
else
{
    <p>Error: @ViewBag.Respuesta</p>
}

