
@{
    ViewBag.Title = "EstadoPaquete";
}

@if (ViewBag.ERROR != null)
{
    <h5 style="text-align: center; width: 60%; margin: 2% auto;" class="alert alert-danger">@ViewBag.ERROR</h5>
}
@if (ViewBag.OK != null)
{
    <h5 style="text-align: center; width: 60%; margin: 2% auto;" class="alert alert-success">@ViewBag.OK</h5>
}

<link rel="stylesheet" href="~/Content/style.css" type="text/css" />

@section Styles{
    <style>
        .der {
            margin: auto;
            height: 200px;
            width: 75%;
            border-radius: 5px;
        }
            
        h2 {
            color: #fff;
            margin: 3% 0 3% 0;
            text-align: center;
        }
    </style>
}
<h2>Estado Paquete</h2>

<div class="page">
    <div class="cont">
        <div class="der">
            <div class="form">
                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()

                    <label>Código de paquete</label>
                    <div class="form-group">
                        <input type="text" name="codigo" />
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Consultar" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
