
@{
    ViewBag.Title = "Usuario";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" />

<style>
    body {
        background-color: #E9E9E9;
    }

    i {
        font-size: 80px;
        color: darkblue;
    }

    #cont {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }

    #envios {
        padding: 30px;
        text-align: center;
        background-color: white;
        border-radius: 3px;
        margin-right: 25px;
        margin-bottom: 25px;
        -webkit-box-shadow: 4px 6px 7px 0px rgba(150,150,150,1);
        -moz-box-shadow: 4px 6px 7px 0px rgba(150,150,150,1);
        box-shadow: 4px 6px 7px 0px rgba(150,150,150,1);

        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    #titulo {
        font-weight: bold;
        font-size: 1.5em;
        padding: 15px;
    }

    #cont_1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a{
        color: black;
        font-weight: bold;
        padding: 5%;
    }

    a:hover{
        color: black;
    }

    .cont_1_1, .cont_1_2{
        flex-grow: 1;
    }

    @@media (max-width: 767px){
        #cont_1{
            flex-direction: column;
        }
    }
    .button {
            color: #ffffff;
            background-color: #24cf5f;
            padding: 12px 25px;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            border: 0;
            border-radius: 2px;
            outline: 0;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
            transition: all .2s;
            display: block;
            margin: auto;
            width: auto;
            display: inline-block;
            margin: 20px auto 0;
    }
    .button:hover,.button:focus,.button:active{
        text-decoration: none;
    }
</style>

<div id="cont" class="container">
    <div id="cont_1">
        <div class="cont_1_1" id="envios">
            <div><i class="fas fa-shipping-fast"></i></div>
            <div id="titulo">Mis envíos</div>
            <div>Paquetes enviados, recibidos por el destinatario</div>
            @Html.ActionLink("VER", "PaquetesEnviados", null, new { @class = "button" })
        </div>

        <div class="cont_1_2" id="envios">
            <div><i class="fas fa-box-open"></i></div>
            <div id="titulo">Paquetes recibidos</div>
            <div>Paquetes que le han sido enviados y entregados</div>
            @Html.ActionLink("VER", "PaquetesRecibidos", null, new { @class = "button" })
        </div>
    </div>
    <div>
        <div id="envios">
            <div><i class="fas fa-search"></i></div>
            <div id="titulo">Seguir paquete</div>
            <div>Realizar seguimiento de paquetes a los cuales esté relacionado</div>
            @Html.ActionLink("VER", "estadoPaquete", null, new { @class = "button" })
        </div>
    </div>
</div>

