
@{
    ViewBag.Title = "Usuario";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/style.css" type="text/css" />

<style>
    body {
        background-color: #E9E9E9;
    }

    i {
        font-size: 80px;
        color: darkblue;
    }

    #cont {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }

    #envios {
        padding: 30px;
        text-align: center;
        background-color: white;
        border-radius: 8px;
        margin-right: 25px;
        margin-bottom: 25px;
        -webkit-box-shadow: 4px 6px 7px 0px rgba(150,150,150,1);
        -moz-box-shadow: 4px 6px 7px 0px rgba(150,150,150,1);
        box-shadow: 4px 6px 7px 0px rgba(150,150,150,1);
    }

    #titulo {
        font-weight: bold;
        font-size: 1.5em;
        padding: 15px;
    }

    #cont_1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a{
        color: black;
        font-weight: bold;
        padding: 5%;
    }

    a:hover{
        color: black;
    }

    .cont_1_1, .cont_1_2{
        flex-grow: 1;
    }

    @@media (max-width: 767px){
        #cont_1{
            flex-direction: column;
        }
    }
</style>

<div id="cont" class="container">
    <div id="cont_1">
        <div class="cont_1_1" id="envios">
            <div><i class="fas fa-shipping-fast"></i></div>
            <div id="titulo">Mis envíos</div>
            <div>Paquetes enviados, recibidos por el destinatario</div>
            @Html.ActionLink("VER", "PaquetesEnviados")
        </div>

        <div class="cont_1_2" id="envios">
            <div><i class="fas fa-box-open"></i></div>
            <div id="titulo">Paquetes recibidos</div>
            <div>Paquetes que le han sido enviados y entregados</div>
            @Html.ActionLink("VER", "PaquetesRecibidos")
        </div>
    </div>
    <div>
        <div id="envios">
            <div><i class="fas fa-search"></i></div>
            <div id="titulo">Seguir paquete</div>
            <div>Realizar seguimiento de paquetes a los cuales esté relacionado</div>
            @Html.ActionLink("VER", "estadoPaquete")
        </div>
    </div>
</div>

