
@{
    ViewBag.Title = "Manejar";
}

@if (ViewBag.ERROR != null)
{
    <p class="msg">@ViewBag.ERROR</p>
}
@if (ViewBag.OK != null)
{
    <p class="msg">@ViewBag.OK</p>
}

<link rel="stylesheet" href="~/Content/style.css">
@section Styles
{
    <style type="text/css">
        select {
            color: #fff;
            font-weight: 200;
            min-width: 100%;
            background-color: #474A59;
            border: 2px solid #87B7F1;
        }

        li {
            line-height: 2;
        }

        .der{
            height: 400px;
            margin-top: 3%;
        }

        .form{
            margin-left: 25px;
            margin-right: 25px;
        }

        label{
            margin-left: 15px;
        }

        @@media (max-width: 767px){
            .der{
                margin-top: 1%;
            }
        }
    </style>
}

<div>
    <button id="volver">
        @Html.ActionLink("Volver", "Index")
    </button>
</div>
<div class="page">
    <div class="cont">
        <div class="izq">
            <div class="titulo">Manejar Paquete</div>
            <div id="texto" class="eula">Controlar el avance de paquete hasta su destino final</div>
        </div>
        <div class="der">
            <div class="form">
                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <ul class="form-list">
                            <li class="form-list__row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Código del paquete</label>
                                        <div class="col-md-12">
                                            <input name="idPaquete" type="number" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Manejar paquete</label>
                                        <div class="col-md-12">
                                            <select id="accion" name="accion" class="col-md-12" onchange="cliente()">
                                                <option value="avanzar">Avanzar</option>
                                                <option value="retroceder">Retroceder</option>
                                                <option value="entrega">Entrega al cliente</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    <div id="codCliente" class="col-md-12" hidden>
                                        <label>Código de cliente</label>
                                        <div class="col-md-12">
                                            <input type="text" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="form-list__row">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8">
                                        <div class="col-md-12">
                                            <input type="submit" value="Enviar" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function cliente() {
        var x = document.getElementById("accion").value;
        if (x == "entrega") {
            document.getElementById("codCliente").hidden = false;
        } else {
            document.getElementById("codCliente").hidden = true;
        }

    }
</script>
