
@{
    ViewBag.Title = "Manejar";
}

@if (ViewBag.ERROR != null)
{
    <p>@ViewBag.ERROR</p>
}
@if (ViewBag.OK != null)
{
    <p>@ViewBag.OK</p>
}

<h2>Manejar</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-10">
            <input name="idPaquete" placeholder="Codigo del paquete" type="number" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <select id="accion" name="accion" onchange="cliente()">
                <option value="avanzar">Avanzar</option>
                <option value="retroceder">Retroceder</option>
                <option value="entrega">Entrega al cliente</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input id="codigo" name="codigo" placeholder="Codigo dado por el cliente" type="text" hidden/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enviar" class="btn btn-default" />
        </div>
    </div>
}

<script>
    function cliente() {
        var x = document.getElementById("accion").value;
        if (x == "entrega") {
            document.getElementById("codigo").hidden = false;
        } else {
            document.getElementById("codigo").hidden = true;
        }
        
    }
</script>