
@{
    ViewBag.Title = "AvisoVerificacion";
}

<link href="~/Content/msg.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="modal">
        <div class="modal__container">
            <div class="modal__content">
                <div class="success-checkmark">
                    <div class="check-icon">
                        <span class="icon-line line-tip"></span>
                        <span class="icon-line line-long"></span>
                        <div class="icon-circle"></div>
                        <div class="icon-fix"></div>
                    </div>
                </div>
                <h2 class="text-center">¡Bienvenido!</h2>
                <p class="text-center text">
                    Gracias por registrarte en TrackingFull!
                    <br />
                    Ahora solo hace falta que confirmes tu direccion de email para que puedas loguearte y utilizar todas las funcionalidades disponibles.
                    <br />
                    Hemos enviado un email a tu direccion de correo para que puedas completar tu registro.
                </p>
            </div>
        </div>
    </div>
</div>
