.nuevo {
    text-decoration: none;
    padding: 8px;
    font-weight: 300;
    font-size: 12px;
    background-color: forestgreen;
    border-radius: 3px;
    border: 2px solid forestgreen;
    color: white;
}

.editar {
    text-decoration: none;
    padding: 8px;
    font-weight: 200;
    font-size: 12px;
    background-color: goldenrod;
    border-radius: 3px;
    border: 2px solid goldenrod;
    color: white;
}

.detalles {
    text-decoration: none;
    padding: 8px;
    font-weight: 200;
    font-size: 12px;
    background-color: #1883ba;
    border-radius: 3px;
    border: 2px solid #1883ba;
    color: white;
}

.borrar {
    text-decoration: none;
    padding: 8px;
    font-weight: 200;
    font-size: 12px;
    background-color: red;
    border-radius: 3px;
    border: 2px solid red;
    color: white;
}

a {
    color: white;
}


