USE [master]
GO
/****** Object:  Database [trackingFULL]    Script Date: 8/10/2019 13:49:02 ******/
CREATE DATABASE [trackingFULL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'trackingFULL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\trackingFULL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'trackingFULL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\trackingFULL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [trackingFULL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [trackingFULL]
GO
/****** Object:  Table [dbo].[Agencia]    Script Date: 8/10/2019 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agencia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](250) NULL,
	[ubicacion] [varchar](200) NULL,
	[envioDomicilio] [bit] NULL,
	[idEmpresa] [int] NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Agencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 8/10/2019 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NULL,
	[nombreCompleto] [varchar](250) NULL,
	[telefono] [varchar](250) NULL,
	[numeroDocumento] [varchar](250) NULL,
	[tipoDocumento] [varchar](50) NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 8/10/2019 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paquete]    Script Date: 8/10/2019 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paquete](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](250) NULL,
	[IdTrayecto] [int] NULL,
	[idRemitente] [int] NULL,
	[idDestinatario] [int] NULL,
	[fechaIngreso] [datetime] NULL,
	[fechaEntrega] [datetime] NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Paquete] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaquetePuntoControl]    Script Date: 8/10/2019 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaquetePuntoControl](
	[idPaquete] [int] NULL,
	[idPuntoControl] [int] NULL,
	[fechaLlegada] [datetime] NULL,
	[idEmpleado] [int] NULL,
	[borrado] [bit] NULL,
	[retraso] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PaquetePuntoControl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuntoControl]    Script Date: 8/10/2019 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuntoControl](
	[idTrayecto] [int] NULL,
	[idAgencia] [int] NULL,
	[orden] [int] NULL,
	[tiempo] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_PuntoControl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trayecto]    Script Date: 8/10/2019 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trayecto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[version] [int] NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Trayecto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/10/2019 13:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](250) NULL,
	[password] [varchar](250) NULL,
	[rol] [varchar](50) NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agencia] ADD  CONSTRAINT [DF_Agencia_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Empresa] ADD  CONSTRAINT [DF_Empresa_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Paquete] ADD  CONSTRAINT [DF_Paquete_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[PaquetePuntoControl] ADD  CONSTRAINT [DF_PaquetePuntoControl_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[PuntoControl] ADD  CONSTRAINT [DF_PuntoControl_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Trayecto] ADD  CONSTRAINT [DF_Trayecto_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Agencia]  WITH CHECK ADD  CONSTRAINT [FK_Agencia_Empresa] FOREIGN KEY([idEmpresa])
REFERENCES [dbo].[Empresa] ([id])
GO
ALTER TABLE [dbo].[Agencia] CHECK CONSTRAINT [FK_Agencia_Empresa]
GO
ALTER TABLE [dbo].[Paquete]  WITH CHECK ADD  CONSTRAINT [FK_Paquete_Cliente] FOREIGN KEY([idRemitente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Paquete] CHECK CONSTRAINT [FK_Paquete_Cliente]
GO
ALTER TABLE [dbo].[Paquete]  WITH CHECK ADD  CONSTRAINT [FK_Paquete_Cliente1] FOREIGN KEY([idDestinatario])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Paquete] CHECK CONSTRAINT [FK_Paquete_Cliente1]
GO
ALTER TABLE [dbo].[Paquete]  WITH CHECK ADD  CONSTRAINT [FK_Paquete_Trayecto] FOREIGN KEY([IdTrayecto])
REFERENCES [dbo].[Trayecto] ([id])
GO
ALTER TABLE [dbo].[Paquete] CHECK CONSTRAINT [FK_Paquete_Trayecto]
GO
ALTER TABLE [dbo].[PaquetePuntoControl]  WITH CHECK ADD  CONSTRAINT [FK_PaquetePuntoControl_Paquete] FOREIGN KEY([idPaquete])
REFERENCES [dbo].[Paquete] ([id])
GO
ALTER TABLE [dbo].[PaquetePuntoControl] CHECK CONSTRAINT [FK_PaquetePuntoControl_Paquete]
GO
ALTER TABLE [dbo].[PaquetePuntoControl]  WITH CHECK ADD  CONSTRAINT [FK_PaquetePuntoControl_PuntoControl2] FOREIGN KEY([idPuntoControl])
REFERENCES [dbo].[PuntoControl] ([id])
GO
ALTER TABLE [dbo].[PaquetePuntoControl] CHECK CONSTRAINT [FK_PaquetePuntoControl_PuntoControl2]
GO
ALTER TABLE [dbo].[PaquetePuntoControl]  WITH CHECK ADD  CONSTRAINT [FK_PaquetePuntoControl_Usuario] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[PaquetePuntoControl] CHECK CONSTRAINT [FK_PaquetePuntoControl_Usuario]
GO
ALTER TABLE [dbo].[PuntoControl]  WITH CHECK ADD  CONSTRAINT [FK_PuntoControl_Agencia] FOREIGN KEY([idAgencia])
REFERENCES [dbo].[Agencia] ([id])
GO
ALTER TABLE [dbo].[PuntoControl] CHECK CONSTRAINT [FK_PuntoControl_Agencia]
GO
ALTER TABLE [dbo].[PuntoControl]  WITH CHECK ADD  CONSTRAINT [FK_PuntoControl_Trayecto] FOREIGN KEY([idTrayecto])
REFERENCES [dbo].[Trayecto] ([id])
GO
ALTER TABLE [dbo].[PuntoControl] CHECK CONSTRAINT [FK_PuntoControl_Trayecto]
GO
USE [master]
GO
