
@{
    ViewBag.Title = "Nuevo administrador";
}

<h2>Nuevo administrador</h2>

@if (ViewBag.OK != null || ViewBag.ERROR != null)
{
    if (ViewBag.OK != null)
    {
        <p>@ViewBag.OK</p>
    }
    if (ViewBag.ERROR != null)
    {
        <p>@ViewBag.ERROR</p>
    }
}

@using (Html.BeginForm("addPermisos", "Admin", FormMethod.Post))
{

    @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                <input type="email" name="email" placeholder="Email" />
            </div>

            <div class="form-group">
                <select name="role">
                    <option value="Admin">Administrador</option>
                    <option value="Funcionario">Funcionario</option>
                    <option value="Encargado">Encargado</option>
                    <option value="Cliente">Cliente</option>
                </select>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </div>
}
