
@{
    ViewBag.Title = "Estadisticas";
}

@if (ViewBag.OK != null || ViewBag.ERROR != null)
{
    if (ViewBag.OK != null)
    {
        <p>@ViewBag.OK</p>
    }
    if (ViewBag.ERROR != null)
    {
        <p>@ViewBag.ERROR</p>
    }
}

<h2>Estadisticas</h2>

@using (Html.BeginForm())
{ 
    
    <div class="form-group">
        <select name="tipo">
            <option value="trayectoPaquete">Paquetes activos por trayecto</option>
        </select>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

