@{ var cantidadTotal = 0;
    foreach (var item in ViewBag.EJEY)
    {
        cantidadTotal += item;
    }
}

@{
    ViewBag.Title = "PaquetesIngresados";
}

<h2>PaquetesIngresados</h2>

@if (ViewBag.OK != null || ViewBag.ERROR != null)
{
    if (ViewBag.OK != null)
    {
        <h5 style="text-align: center; width: 60%; margin: 2% auto;" class="alert alert-success">@ViewBag.OK</h5>
    }
    if (ViewBag.ERROR != null)
    {
        <h5 style="text-align: center; width: 60%; margin: 2% auto;" class="alert alert-danger">@ViewBag.ERROR</h5>
    }
}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<h2>Cantidad de paquetes ingresados en los ultimos 7 dias</h2>

<div class="container">
    <h5>Total de paquetes ingresados en la ultima semana: @cantidadTotal</h5>
    <div class="col-sm-12">
        <canvas id="myChart"></canvas>
    </div>
</div>


<script>
    var colY = [];
    var colX = [];
    @foreach (var item in ViewBag.EJEY)
    {
        <text>colY.push(@item)</text>
    }
    @foreach (var item in ViewBag.EJEX)
    {
        <text>colX.push("@item")</text>
    }
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx,{
        type: "bar",
        data: {
            labels: colX,
            datasets: [{
                label: "Cantidad de paquetes",
                data: colY
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>