<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="JsonSubTypes" version="1.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="RestSharp" version="105.1.0" targetFramework="net461" />
  <package id="sib_api_v3_sdk" version="1.0.0" targetFramework="net461" />
</packages>